@charset "UTF-8";
/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-solarizedlight&languages=markup+css+clike+javascript+c+glsl+typescript */
/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/
/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/
code[class*=language-],
pre[class*=language-] {
  color: #657b83;
  /* base00 */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection {
  background: #073642;
  /* base02 */
}

pre[class*=language-]::selection,
pre[class*=language-] ::selection,
code[class*=language-]::selection,
code[class*=language-] ::selection {
  background: #073642;
  /* base02 */
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background-color: #fdf6e3;
  /* base3 */
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
  /* base1 */
}

.token.punctuation {
  color: #586e75;
  /* base01 */
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #268bd2;
  /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: #2aa198;
  /* cyan */
}

.token.entity {
  color: #657b83;
  /* base00 */
  background: #eee8d5;
  /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #859900;
  /* green */
}

.token.function,
.token.class-name {
  color: #b58900;
  /* yellow */
}

.token.regex,
.token.important,
.token.variable {
  color: #cb4b16;
  /* orange */
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-twilight&languages=markup+css+clike+javascript+c+glsl+typescript */
/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
@media (prefers-color-scheme: dark) {
  code[class*=language-],
pre[class*=language-] {
    color: white;
    background: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    text-shadow: 0 -0.1em 0.2em black;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*=language-],
:not(pre) > code[class*=language-] {
    background: #141414;
    /* #141414 */
  }

  /* Code blocks */
  pre[class*=language-] {
    border-radius: 0.5em;
    border: 0.3em solid #545454;
    /* #282A2B */
    box-shadow: 1px 1px 0.5em black inset;
    margin: 0.5em 0;
    overflow: auto;
    padding: 1em;
  }

  pre[class*=language-]::-moz-selection {
    /* Firefox */
    background: #27292a;
    /* #282A2B */
  }

  pre[class*=language-]::selection {
    /* Safari */
    background: #27292a;
    /* #282A2B */
  }

  /* Text Selection colour */
  pre[class*=language-]::-moz-selection,
pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection,
code[class*=language-] ::-moz-selection {
    text-shadow: none;
    background: rgba(237, 237, 237, 0.15);
    /* #EDEDED */
  }

  pre[class*=language-]::selection,
pre[class*=language-] ::selection,
code[class*=language-]::selection,
code[class*=language-] ::selection {
    text-shadow: none;
    background: rgba(237, 237, 237, 0.15);
    /* #EDEDED */
  }

  /* Inline code */
  :not(pre) > code[class*=language-] {
    border-radius: 0.3em;
    border: 0.13em solid #545454;
    /* #545454 */
    box-shadow: 1px 1px 0.3em -0.1em black inset;
    padding: 0.15em 0.2em 0.05em;
    white-space: normal;
  }

  .token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #787878;
    /* #777777 */
  }

  .token.punctuation {
    opacity: 0.7;
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.tag,
.token.boolean,
.token.number,
.token.deleted {
    color: #cf694a;
    /* #CF6A4C */
  }

  .token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
    color: #f9ee9a;
    /* #F9EE98 */
  }

  .token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
    color: #919e6b;
    /* #8F9D6A */
  }

  .token.atrule {
    color: #7386a5;
    /* #7587A6 */
  }

  .token.regex,
.token.important {
    color: #e9c163;
    /* #E9C062 */
  }

  .token.important,
.token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  pre[data-line] {
    padding: 1em 0 1em 3em;
    position: relative;
  }

  /* Markup */
  .language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
    color: #ad895c;
    /* #AC885B */
  }

  /* Make the tokens sit above the line highlight so the colours don't look faded. */
  .token {
    position: relative;
    z-index: 1;
  }

  .line-highlight {
    background: rgba(84, 84, 84, 0.25);
    /* #545454 */
    background: linear-gradient(to right, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
    /* #545454 */
    border-bottom: 1px dashed #545454;
    /* #545454 */
    border-top: 1px dashed #545454;
    /* #545454 */
    left: 0;
    line-height: inherit;
    margin-top: 0.75em;
    /* Same as .prism’s padding-top */
    padding: inherit 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    white-space: pre;
    z-index: 0;
  }

  .line-highlight:before,
.line-highlight[data-end]:after {
    background-color: #8794a6;
    /* #8794A6 */
    border-radius: 999px;
    box-shadow: 0 1px white;
    color: #f5f2f0;
    /* #F5F2F0 */
    content: attr(data-start);
    font: bold 65%/1.5 sans-serif;
    left: 0.6em;
    min-width: 1em;
    padding: 0 0.5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: 0.4em;
    vertical-align: 0.3em;
  }

  .line-highlight[data-end]:after {
    bottom: 0.4em;
    content: attr(data-end);
    top: auto;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 1.33rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3.15rem;
  line-height: 1.4;
}

h2 {
  font-size: 1.77rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.33rem;
  line-height: 1.2;
}

h4 {
  font-size: 1rem;
  line-height: 1.2;
}

h5 {
  font-size: 0.75rem;
  line-height: 1.2;
}

@media (min-width: 768px) {
  body {
    font-size: 2.36rem;
  }

  h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 3.15rem;
  }

  h3 {
    font-size: 2.36rem;
  }

  h4 {
    font-size: 1.77rem;
  }

  h5 {
    font-size: 1.33rem;
  }
}
a {
  overflow-wrap: break-word;
}
a:hover {
  text-decoration: none;
}

pre[class] {
  line-height: 1.1;
}
pre[class] code[class] {
  font-size: 1.33rem;
}

body {
  color: white;
  background: black;
  height: 100vh;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-height: 400px) {
  main {
    scroll-snap-type: y mandatory;
  }
}
body {
  color: #000;
  background: #fff;
}

h1 {
  color: #ab1848;
}

h2 {
  color: #3a3335;
}

h3 {
  color: #5f5554;
}

h4,
h5 {
  color: #d81e5b;
}

code {
  color: #2a5a05;
}

a {
  color: #6585d6;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #f4f4f4;
    background: #000;
  }

  h1 {
    color: #ffe5af;
  }

  h2 {
    color: #cfb59f;
  }

  h3 {
    color: #ab1848;
  }

  h4,
h5 {
    color: #d81e5b;
  }

  code {
    color: #bada55;
  }

  a {
    color: #99c2fe;
  }
}
.slide {
  scroll-snap-align: start;
  max-width: 1000px;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
