<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Lea Rosema")
    meta(name="keywords", content="WebGL, shaders, generative art")
    link(rel="stylesheet", href="prism/prism.css")
    link(rel="stylesheet", href="css/index.css")
    title All Things WebGL
  body
    main
      include:slides:markdown-it content/slides.md
    script(src="prism/prism.js")